/* RED テーマ */
/* 自動生成ファイル - 直接編集しないでください */

:root[data-theme="red"] {
  /* カラー変数 */
  --color-alert-list-blue: #0d7ef1;
  --color-alert-list-light-blue: #a3c9ff;
  --color-calendar-day: #f5f5f5;
  --color-number-plate-dark: #43474e;
  --color-black: #000000;
  --color-neutral: #e3e2e6;
  --color-neutral-screen: #f1f0f4;
  --color-primary: #C62F00;
  --color-primary-hover: color-mix(in srgb, #1f60a2 8%, transparent);
  --color-primary-push: #00315c;
  --color-primary-thin: #ebf1ff;
  --color-primary-light: #FFE8E0;
  --color-white: #ffffff;
  --color-screen-base: #F1F0F4;
  --color-input: #c6c6ca;
  --color-divider: #e0e2eb;
  --color-pale-blue: #A3C9FF;
  --color-green-tin: #DAFFE0;
  --color-yellow: #FFEF64;
  --color-border-white: #ffffff;
  --color-border-primary: #C62F00;
  --color-border-error: #ba1a1a;
  --color-border-base: #ccc;
  --color-border-divider: #e0e2eb;
  --color-border-disabled: #f2f2f2;
  --color-graph-bui-bunrui-1: #33a1df;
  --color-graph-bui-bunrui-10: #8bead9;
  --color-graph-bui-bunrui-11: #aeefe3;
  --color-graph-bui-bunrui-12: #cef9f1;
  --color-graph-bui-bunrui-2: #57bcf5;
  --color-graph-bui-bunrui-3: #87ccf3;
  --color-graph-bui-bunrui-4: #a1deff;
  --color-graph-bui-bunrui-5: #b8e5ff;
  --color-graph-bui-bunrui-6: #daf2ff;
  --color-graph-bui-bunrui-7: #2aaf97;
  --color-graph-bui-bunrui-8: #43c5ad;
  --color-graph-bui-bunrui-9: #63d1bd;
  --color-graph-seibi-bunrui-1: #9adf56;
  --color-graph-seibi-bunrui-2: #b8f27e;
  --color-graph-seibi-bunrui-3: #d3fda9;
  --color-graph-seibi-bunrui-4: #dbd06e;
  --color-graph-seibi-bunrui-5: #f3e98e;
  --color-graph-seibi-bunrui-6: #fdf8cf;
  --color-others-green: #409352;
  --color-others-green-light: #daffe0;
  --color-others-orange: #e58900;
  --color-others-pale-blue: #8cb4da;
  --color-others-primary-light: #0d7ef1;
  --color-others-side-bar-bottom: #87b2db;
  --color-others-side-bar-top: #11589a;
  --color-others-side-bar-hover: #ABABAE;
  --color-others-yellow: #FFF388;
  --color-others-placeholder: #74777f;
  --color-others-primary-hover: #C62F0014;
  --color-others-primary-push: #631800;
  --color-others-error-push: #950000;
  --color-calendar-day-of-week: #a8abb4;
  --color-body: #1a1c1e;
  --color-link: #0000ee;
  --color-base: #333333;
  --color-base-light: #666666;
  --color-base-bg: #E6E6E6;
  --color-base-blur: #000000;
  --color-base-border: #CCCCCC;
  --color-disabled-bg: #f1f0f4;
  --color-disabled-base: #e3e2e6;
  --color-disabled-text: #00000059;
  --color-error-bg: #ffdad6;
  --color-error-base: #ba1a1a;
  --color-error-thin: #FFDAD6;
  --color-error-hover: #950000;
  --color-error-text: #ba1a1a;
  --color-error-border: #BA1A1A;
  --color-neutral-thin: #545f70;
  --color-neutral-dark--d-e-f-a-u-l-t: #5d5e62;
  --color-neutral-dark-bg: #ababae;
  --color-neutral-dark-text: #5D5E62;
  --color-table-bg-th-default: #F5F5F5;
  --color-table-bg-th-syakensyo: #F1F0F4;
  --color-table-border-th-default: #C3C6CF;
  --color-table-border-th-syakensyo: #C6C6CA;
  --color-others-green-thin: #DAFFE0;
  --color-others-orenge: #e58900;
  --color-text-white: #ffffff;
  --color-text-base: #333333;
  --color-text-link: #0000ee;
  --color-text-base-light: #666666;
  --color-text-disabled: #999999;
  --color-text-error: #ba1a1a;
  --color-text-primary: #C62F00;
  --color-back-ground-white: #ffffff;
  --color-back-ground-primary: #C62F00;
  --color-back-ground-primary-light: #FFE8E0;
  --color-back-ground-error-light: #ffdad6;
  --color-back-ground-table-header: #f2f2f2;
  --color-back-ground-base: #e6e6e6;
  --color-back-ground-screen-base: #f1f0f4;
  --color-back-ground-disabled: #f2f2f2;
  --color-graph-seibi-bunrui1: #9adf56;
  --color-graph-seibi-bunrui2: #b8f27e;
  --color-graph-seibi-bunrui3: #d3fda9;
  --color-graph-seibi-bunrui4: #dbd06e;
  --color-graph-seibi-bunrui5: #f3e98e;
  --color-graph-seibi-bunrui6: #fdf8cf;
  --color-graph-bui-bunrui1: #33a1df;
  --color-graph-bui-bunrui2: #57bcf5;
  --color-graph-bui-bunrui3: #87ccf3;
  --color-graph-bui-bunrui4: #a1deff;
  --color-graph-bui-bunrui5: #B8E5FF;
  --color-graph-bui-bunrui6: #DAF2FF;
  --color-graph-bui-bunrui7: #2aaf97;
  --color-graph-bui-bunrui8: #43C5AD;
  --color-graph-bui-bunrui9: #63d1bd;
  --color-graph-bui-bunrui10: #8bead9;
  --color-graph-bui-bunrui11: #aeefe3;
  --color-graph-bui-bunrui12: #cef9f1;
  --color-others-sidebar-top: #C62F00;
  --color-others-sidebar-bottom: #F8B381;
  --color-back-ground-error: #ba1a1a;
  --color-back-ground-base-blur: #00000066;
  --color-others-sidebar-hover: #ffffff;
  --color-back-ground-black: #3a3c40;
  --color-graph-seibi-bunrui8: #ecffd3;
  --color-graph-seibi-bunrui7: #fff7b4;
  --color-graph-seibi-bunrui9: #97bee7;
  --color-graph-seibi-bunrui10: #c2d8ef;
  --color-graph-seibi-bunrui11: #dfecf9;

  /* シャドウ変数 */
  --shadow-1: 0px 4px 15px 0px rgba(164,164,164,0.2);
  --shadow-2: 0px 4px 30px 0px rgba(155,155,155,0.2);
  --shadow-3: 0px 4px 15px 0px rgba(72,72,72,0.2);
  --shadow-input: inset 0px 0px 4px 0px rgba(0,0,0,0.2);
  --shadow-elevation-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-elevation-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.20), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --shadow-number-plate: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);;
  --shadow-input-focus: 0px 0px 6px 0px #C62F00;

}
